* {
color: white;
}

body {
background: black;
height: 1000px;
}

.navbar {
height: 15vh;
margin-bottom: 630px;
}

.navbar img {
padding-top: 20px;
width: 200px;
margin-left: 20%;
}

.navbar-nav {
margin-right: 15%;
}

.navbar-nav li {
color: white !important;
margin-right: 10%;
font-size: .9vw;
letter-spacing: 3px;
}

.navbar-nav a {
color: grey !important;
}

.navbar-nav a.active {
color: white !important;
}


.call-to-action {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    top: 40%;
    right: 10%;
}
.call-to-action .btn {
    margin: 5%;
    height: 50%;
    background: transparent;
    border: 3px solid rgb(191,169,220);
    -webkit-box-shadow: 3px 6px 5px 1px rgba(196,172,196,0.2);
    -moz-box-shadow: 3px 6px 5px 1px rgba(196,172,196,0.2);
    box-shadow: 3px 6px 5px 1px rgba(196,172,196,0.2);
}

.background {
height: 85vh;
background: rgb(2,0,36);
background-image: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(90,15,144,1) 56%, rgba(79,23,129,1) 100%);
}

.navbar-brand #logo {
color: white;
font-size: 1.8vw;
letter-spacing: 4px;
font-family: 'Monoton', cursive;
height: 500px;
margin-top: 10%;
}

#triangle-bottomleft {
width: 0;
height: 0;
position: absolute;
bottom: 20vh;
border-bottom: 60vh solid RGBA(255,255,255,1);
border-right: 110vh solid transparent;
}

.col-lg-2 img {
width: 100px;
padding-bottom: 0;
margin-bottom: 0;
vertical-align: center;
}

.row {
width: 100vw;
height: 20%;
margin-left: 0;
background: rgb(191,169,220);
}

.triangle-bottomleft {
position: absolute;
bottom: 0%;
right: 0%;
height: 100%;
width: 50%;

}


.girl {
    z-index: 999;
    position: absolute;
    top: 18%;
}

.man {
    z-index: 999;
    position: absolute;
    top: 10%;
    right: 50%;
}

@media only screen and (max-width: 1500px) {
    .girl {
        top: 25%;
    }
    .girl img {
      width: 60%;
    }
    #triangle-bottomleft {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 15vh;
        border-bottom: 50vh solid RGBA(255,255,255,1);
        border-right: 100vh solid transparent;
        }
  }

  @media only screen and (max-width: 1000px) {
    .girl {
        top: 30%;
    }
    .girl img {
      width: 60%;
    }
  }